.percentbar {
  width: 100%;
  text-align: left;

  .percentage {
    float: left;
    width: 30px;
  }

  .bar-container {
    float: left;
    display: inline-block;
    width: 80%;

    .bar {
      display: inline-block;
      border-bottom: 10px solid $ocean;
    }
  }
}

@media print {
  .percentbar {

    .percentage {
      display: block;
      float: left;
    }
    .bar-container {
      display: block;
      float: right;
      margin-top: -12px;

      .bar {
        border-bottom-width: 8px;
        border-bottom-color: #000;
      }
    }
  }
}
