.marketing {

  > section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;

    h2 {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      color: $ocean;
      letter-spacing: 0.08em;
    }

    .entry {
      margin: 2em 0;

      .dates {
        color: $orange;

        @include respond-to(print) {
          color: $orange;
        }
      }
    }
  }
}

.skills {

  .skill-list-column {

    .skill-list {
      padding: 0;
      margin: 0;
      text-indent: 0;

      > li {
        list-style: none;
      }

      dt {
        width: 40%;
        float: left;
        text-align: left;
      }

      dd {
        width: 60%;
        float: left;
        margin-left: 0;
      }
    } /* .skill-list */
  } /* .skill-list-column */
} /* .skills */

@media print {

  .skill-list-column {
    width: 33.3333%;
  }

  .education {
    page-break-before: always;
    float: none;

    .marketing & {
      float: none;
    }
    div .marketing & {
      float: none;
    }
    .container div .marketing & {
      float: none;
    }
    body .container div .marketing & {
      float: none;
    }
    html body .container div .marketing & {
      float: none;
    }
  }

}

