.vast-shadow {
  font-family: $vast_shadow;
  font-weight: normal;
}

html, body {
  font-family: $hind;
  color: #555;
}
@media print {
  html, body {
    color: #555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $hind;
  font-weight: 600;
}

a,
a:focus,
a:visited,
a:hover {
  color: $orange;
  text-decoration: none;
  border-bottom: 5px solid transparent;

  @include respond-to(print) {
    &.print-no-show:link:after {
      content: "";
    }
  }
}

a:hover {
  border-bottom: 5px solid $orange;
}
