<div class="header row">
  <div class="branding col-sm-3 col-xs-6">
    <span class="initials vast-shadow">TM</span>
    <h1 class="name">Tyler Moore</h1>
    <span class="sub-title text-muted">Front End Developer</span>
  </div>

  <ul class="contact pull-right">
    <li><span class="fa fa-paper-plane"></span>&nbsp;<a href="mailto:me@commodoretyler.com?subject=Hey There">me@commodoretyler.com</a></li>
    <li><span class="fa fa-phone"></span>&nbsp;<a>(847) 951-2408</a></li>
    <li><span class="fa fa-globe"></span><a href="http://commodoretyler.com">&nbsp;commodoretyler.com</a></li>
    <li>
      <ul class="social">
        <li><a href="http://www.linkedin.com/pub/tyler-moore/9b/646/b31"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="http://github.com/commodoretyler" target="_blank"><span class="fa fa-github-alt"></span></a></li>
        <li><a href="http://twitter.com/commodoretyler" target="_blank"><span class="fa fa-twitter"></span></a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="row marketing">
  <section class="skills col-xs-12">
    <div class="section-heading">
      <h2>Skills</h2>
    </div>
    <div class="section-body row">
      <div class="col-sm-6 col-xs-12 skill-list-column">
        <h5>Code</h5>
        <dl class="skill-list dl-horizontal">
          <dt>HTML5</dt>
          <dd><percent-bar value="99" class="skill-perc">99%</percent-bar></dd>
          <dt>CSS3</dt>
          <dd><percent-bar value="96" class="skill-perc">96%</percent-bar></dd>
          <dt>Javascript</dt>
          <dd><percent-bar value="90" class="skill-perc">90%</percent-bar></dd>
          <dt>jQuery</dt>
          <dd><percent-bar value="90" class="skill-perc">90%</percent-bar></dd>
          <dt>Angular JS</dt>
          <dd><percent-bar value="90" class="skill-perc">90%</percent-bar></dd>
          <dt>Sass</dt>
          <dd><percent-bar value="80" class="skill-perc">80%</percent-bar></dd>
          <dt>PHP</dt>
          <dd><percent-bar value="80" class="skill-perc">80%</percent-bar></dd>
          <dt>Wordpress</dt>
          <dd><percent-bar value="90" class="skill-perc">90%</percent-bar></dd>
          <dt>Git</dt>
          <dd><percent-bar value="80" class="skill-perc">80%</percent-bar></dd>
          <dt>Drupal</dt>
          <dd><percent-bar value="55" class="skill-perc">55%</percent-bar></dd>
          <dt>Ruby on Rails</dt>
          <dd><percent-bar value="30" class="skill-perc">30%</percent-bar></dd>
          <dt>BatmanJS</dt>
          <dd><percent-bar value="25" class="skill-perc">25%</percent-bar></dd>
        </dl>
      </div>

      <div class="col-sm-3 col-xs-6 skill-list-column">
        <h5>APIs</h5>
        <ul class="skill-list">
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Bootsrap</li>
          <li>Google Maps</li>
          <li>Flot Charts</li>
          <li>MEAN.io</li>
          <li>MeteorJS</li>
          <li>Bower</li>
          <li>NPM</li>
        </ul>
      </div>

      <div class="col-sm-3 col-xs-6 skill-list-column">
        <h5>Other</h5>
        <ul class="skill-list">
          <li>Adobe Creative Suite</li>
          <li>Apache</li>
          <li>VIM</li>
          <li>Command Line Interface</li>
          <li>Microsoft Office</li>
        </ul>
      </div>

    </div>
</div>

<div class="row marketing">
  <section class="experience col-xs-12">
    <div class="section-heading">
      <h2>Work Experience</h2>
    </div>
    <div class="section-body">
      <div class="entry">
        <div class="dates">
          <span class="fa fa-calendar"></span>&nbsp;Aug, 2006 - Present
        </div>
        <h3 class="entry-title">Hill + Knowlton Strategies</h3>
        <h4 class="entry-subtitle">Interactive Art Director/Front End Developer</h4>
        <p>At H+K Strategies I fill many roles: designer, developer, strategist, social media expert, etc. Mainly, my role is that of a front end developer for both websites and web applications. I work closely with the design team and client teams to engineer wireframes and mockups into rich, interactive web environments. I pay special attention to ensuring a seamless, consistent, responsive omni-channel user experience. Additionally, I strive for maximum self-sufficience in regards to client publishing.</p>
        <ul>
          <li>Designed and/or Art Directed many corporate and marketing websites for companies ranging from small businesses to Fortune 500s. Extensively developed custom themes, plugins and components for Wordpress CMS sites.
          </li>
          <li>Designed and developed (front end) Flight School, a proprietary SAAS product to assist with simulating crises on social media. Worked with Rails developer to integrate responsive BatmanJS-based front end.</li>
          <li>Designed and developed (front end) Storyplanner, a proprietary SAAS product to assist clients and client teams in planning campaigns and programs using a "layered narrative" paradigm. Worked with Rails developer to integrate an AngularJS-based front end.</li>
          <li>Developed the front end of FindYourAmazing.com for the Tourism Authority of Thailand. Worked with overseas back end PHP developers to integrate jquery-based front end. Strategically planned the launch and promotion.</li>
        </ul>
      </div>

    </div>
  </section>

  <section class="education col-xs-12">
    <div class="section-heading">
      <h2>Education</h2>
    </div>
    <div class="section-body">
      <div class="entry">
        <div class="dates">
          <span class="fa fa-calendar"></span>&nbsp;June, 2004 &mdash; Dec, 2006
        </div>
        <h3 class="entry-title">American Academy of Art</h3>
        <h4 class="entry-subtitle">Bachelor of Fine Art, Graphic Communications</h4>
        <p>President's List</p>
      </div>
      <div class="entry">
        <div class="dates">
          <span class="fa fa-calendar"></span>&nbsp;Sept, 2000 &mdash; June, 2002
        </div>
        <h3 class="entry-title">The Ohio State University</h3>
        <p>Studied Industrial Design, focus on automotive design</p>
      </div>
      <div class="entry">
        <div class="dates">
          <span class="fa fa-calendar"></span>&nbsp;Aug, 1998 &mdash; June, 2000
        </div>
        <h3 class="entry-title">College of Lake County</h3>
        <p>Studied general fine art. Dean's list</p>
      </div>
    </div>
  </section>
</div>

<div class="footer">
  <p>Thank You!</p>
</div>
