<div class="header row">
  <div class="branding col-sm-3 col-xs-6">
    <span class="initials vast-shadow">TM</span>
    <h1 class="name">Tyler Moore</h1>
    <span class="sub-title text-muted">Front-End Developer</span>
  </div>

  <ul class="contact pull-right">
    <li><span class="fa fa-paper-plane"></span>&nbsp;<a href="mailto:me@commodoretyler.com?subject=Hey There">me@commodoretyler.com</a></li>
    <li><span class="fa fa-phone"></span>&nbsp;<a>(847) 951-2408</a></li>
    <li>
      <ul class="social">
        <li><a href="http://www.linkedin.com/pub/tyler-moore/9b/646/b31"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="http://github.com/commodoretyler" target="_blank"><span class="fa fa-github-alt"></span></a></li>
        <li><a href="http://twitter.com/commodoretyler" target="_blank"><span class="fa fa-twitter"></span></a></li>
      </ul>
    </li>
  </ul>
</div>


<div class="row marketing">
  <section class="experience col-xs-6">
    <div class="section-heading">
      <h2>Work Experience</h2>
    </div>
    <div class="section-body">
      <p>It's often said that it doesn't matter what you can do, rather what you have done.</p>
      <div class="entry">
        <div class="dates">
          <span class="fa fa-calendar"></span>&nbsp;Aug, 2006 - Present
        </div>
        <h3 class="entry-title">Hill + Knowlton Strategies</h3>
        <h4 class="entry-subtitle">Interactive Art Director</h4>
        <p>At H+K Strategies I fill many roles: designer, developer, strategist, social media expert, etc. Currently, my role is that of a front-end web developer. I work closely with the design team and client teams to engineer wireframes and mockups into rich, interactive web environments. I pay special attention to ensuring a seamless, consisten responsive omni-channel user experience. Additionally, I strive for maximum self-sufficience in regards to client publishing.</p>

        <p>I build everything from corporate CMS-driven websites to proprietary web-based SAAS applications. When working with clients and client teams I typically am called upon to offer strategic advise from a technical perspective as well as make key project-management level desicions. I strive to guide clients on creating a web experience for their stakeholders that focuses on usability, encouraging repeat visits and utilizing novel design concepts that delivers their message in an intriguing vehicle.</p>
      </div>

    </div>
  </section>

  <section class="education col-xs-6">
    <div class="section-heading">
      <h4>Education</h4>
    </div>
    <div class="section-body">
      <p>AngularJS is a toolset for building the framework most suited to your application development.</p>
    </div>
  </section>
</div>

<div class="row">
  <section class="skills col-xs-12">
    <div class="section-heading">
      <h4>Skills</h4>
    </div>
    <div class="section-body">
      <p>Spectacular Test Runner for JavaScript.</p>
    </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
